.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #54b548;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 150px;
  height: 45px;
  text-transform: uppercase;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown_content label {
  display: block;
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown_content label:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown_content {
  display: block;
}
.features_container label {
  display: flex;
}
.container__block1 {
  display: flex;
  gap: 10%;
  width: 55%;
  height: 60vh;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.total_price_container {
  margin-left: 1.5%;
  width: 35%;
  height: 50vh;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin-top: 5%;
}

.configuration_container {
  font-family: Nunito !important;
}

.btns {
  margin-top: 7%;
}
.button_resert {
  margin-right: 4%;
}
.cloudVps_green {
  background-color: green;
}
.cloudVps_red {
  background-color: red;
}

.configuration_container_first h3,
.configuration_container_second h3,
.total_price_container h3 {
  color: #25396f;
}
.btns {
  display: flex;
  justify-content: center;
}

.button {
  border: none;
  color: white;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #7c8db5;
  transition: all 0.3s ease;
}
.button2 {
  border: none;
  color: white;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #54b548;
  transition: all 0.3s ease;
}
.button:hover {
  transform: scale(1.05);
  background-color: #9694ff;
}
.button2:hover {
  transform: scale(1.05);
  background-color: #5ecc50;
}
.slider_container2 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6.2%;
  width: 300px;
  padding: 30px;
  background-color: #e0dddd;
  border-left: 1px solid #ccc;
  max-height: 80vh;
  overflow-y: auto;
}

.slide {
  margin-bottom: 20px;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border-radius: 8px;
  text-align: justify;

  margin-bottom: 20px;
}

.content h3 {
  font-size: 16px;
}

.content p {
  font-size: 14px;
}

.slider_button {
  width: 100%;
  padding: 10px;
  background-color: #7c8db5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  margin-top: 20px;
}

.slider_button:hover {
  background-color: #9694ff;
}

/* ! Вопросы */
