/* Стили для формы */
.auth_container {
  background-color: #f3f4f7;
}
#login_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
}

#login_box .logo .logo_caption {
  font-family: Nunito;
  color: #333; /* Цвет текста */
  text-align: center;
  margin-bottom: 10px;
}

#login_box .controls {
  margin-top: 20px;
}

#login_box .controls input {
  width: 328px; /* Ширина инпутов */
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333; /* Цвет текста */
  font-size: 16px;
}

#login_box button.btn_custom {
  width: 100%; /* Ширина кнопки */
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #7c8db5; /* Цвет кнопки */
  color: #fff; /* Цвет текста */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Анимация при наведении */
}

#login_box button.btn_custom:hover {
  background-color: #8ecaf3; /* Изменение цвета при наведении */
}
.logo img {
  margin-left: 40%;
  width: 60px;
  margin-bottom: -20px;
}
