:root {
  --base-bgcolor: #354152;
  --base-color: #7e8ba3;
  /* --base-font-weight: 300; */
  /* --base-font-size: 1rem; */
  --base-line-height: 2.5;
}
.auth_container {
  background-color: #354152;
  min-height: 100vh;
}
.align {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 20%;
}
.align__item {
  background-color: var(--base-bgcolor);
}
.align__item--start {
  align-self: flex-start;
}

.align__item--end {
  align-self: flex-end;
}

.site__logo {
  margin-bottom: 2rem;
}

input {
  border: 0;
  font: inherit;

  &::placeholder {
    color: var(--base-color);
  }
}

.form__field {
  margin-bottom: 1rem;
}

input[type="email"],
input[type="password"] {
  outline: 0;
  padding: 0.5rem 1rem;
  width: 90%;
}

.grid {
  margin: 0 auto;
  max-width: 25rem;
  width: 100%;
}

h2 {
  font-size: 2.75rem;
  font-weight: var(--base-font-weight);
  margin: 0 0 1rem;
  text-transform: uppercase;
}

.login {
  box-shadow: 0 0 250px #000;
  text-align: center;
  padding: 4rem 2rem;
}

.login input {
  border: 1px solid #242c37;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
}
.login input:focus {
  color: white;
}

.login input[type="email"],
.login input[type="password"] {
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 1rem 50%;
}

.login input[type="email"] {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#242c37"><path d="M256.017 273.436l-205.17-170.029h410.904l-205.734 170.029zm-.034 55.462l-205.983-170.654v250.349h412v-249.94l-206.017 170.245z"/></svg>');
}

.login input[type="password"] {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#242c37"><path d="M195.334 223.333h-50v-62.666c0-61.022 49.645-110.667 110.666-110.667 61.022 0 110.667 49.645 110.667 110.667v62.666h-50v-62.666c0-33.452-27.215-60.667-60.667-60.667-33.451 0-60.666 27.215-60.666 60.667v62.666zm208.666 30v208.667h-296v-208.667h296zm-121 87.667c0-14.912-12.088-27-27-27s-27 12.088-27 27c0 7.811 3.317 14.844 8.619 19.773 4.385 4.075 6.881 9.8 6.881 15.785v22.942h23v-22.941c0-5.989 2.494-11.708 6.881-15.785 5.302-4.93 8.619-11.963 8.619-19.774z"/></svg>');
  height: 10%;
}

.login input[type="submit"] {
  position: relative;
  background-image: linear-gradient(120deg, #202939 20%, #354152 70%);
  color: #fff;
  margin-bottom: 6rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
  outline: none;
}

.login input[type="submit"]::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 22px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.login input[type="submit"]:hover::before {
  border-color: rgba(255, 255, 255, 0.5);
}

.login input[type="submit"]:hover {
  background-image: linear-gradient(120deg, #4a535f 20%, #33425c 70%);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.password_container {
  position: relative;
}

.toggle_password {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-150%);
  cursor: pointer;
}

.toggle_password:hover {
  color: #7e8ba3;
}
